{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <form
        action="{% url 'inventory:import_products' %}"
        method="POST"
        enctype="multipart/form-data"
    >
        {% csrf_token %}

        <label>Import products:</label>

        <input
            type="file"
            name="csv_file"
            id="csv"
            required
        >

        <div>
            <button
                class="button"
                type="submit"
                style="padding: 5px 10px;"
            >
                Upload
            </button>
        </div>
    </form>

    <br />

    {{ block.super }}
{% endblock %}