@import '../../theme/variables';

.header {
    background-color: $logo-background;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}