$background: #E8EFF3;
$logo-background: #009699;
$primary: #007B7D;
$primary-dark: #005F61;
$primary-darkest: #004748;
$secondary: #54DEDC;
$light: #DEF7F7;
$black: #2E3942;
$gray-0: #CDDBE4;
$gray-1: #97AEBE;
$gray-2: #576975;
$gray-3: #414F58;
$green: #16884B;
$red: #C22929;
